{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Admin Menu</h5>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                    <a href="#" class="list-group-item list-group-item-action">Manage Users</a>
                    <a href="#" class="list-group-item list-group-item-action">Career Paths</a>
                    <a href="#" class="list-group-item list-group-item-action">Assessment Questions</a>
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">My Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4>Admin Dashboard</h4>
            </div>
            <div class="card-body">
                <h5>Welcome, {{ user.username }}!</h5>
                <p>Administrator panel for managing the career guidance platform.</p>
                
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Users</h5>
                                <p class="card-text">Manage all registered users.</p>
                                <a href="#" class="btn btn-primary">Manage Users</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Career Paths</h5>
                                <p class="card-text">Add or modify career paths.</p>
                                <a href="#" class="btn btn-primary">Manage Careers</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Assessments</h5>
                                <p class="card-text">Edit assessment questions.</p>
                                <a href="#" class="btn btn-primary">Manage Assessments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}